<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<AppSettings>
    <add name="connStr" appSettings="Server=localhost;Database=db_GoodsManage;Uid=sa;Pwd=killer123;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </AppSettings>-->
</configuration>